@charset "UTF-8";

/*********** 예매 view 페이지 css ***********/
/********* 티켓예매 테이블 형태로 *********************/
#ticketArea {
  border-collapse: collapse;
  border: 1px solid #000;
  width: 90%;
  height: 700px;
  margin: auto;
}
/*상단 타이틀*/
#ticketArea th {
  vertical-align: text-top;
  text-align: center;
  background: linear-gradient(to top, #3b3d58 0%, #5d607d 100%);
  font-size: 12pt;
  font-weight: bold;
  color: white;
  height: 3%;
  width: 25%;
  border: 1px solid #000;
}

#ticketArea>tbody>tr>td {
  border: 1px solid #000;
}

/* 영화선택 타이틀 부분 th 시작 */
.movie_title .refreshbtn { /* 새로고침 버튼 */
  cursor: pointer;
  width: 19px;
  height: 22px;
  padding-bottom: 3px;
}
/* 영화선택 타이틀 부분 th 끝 */

/* 극장선택 타이틀 부분 th 시작 */
.cinema_title .refreshbtn { /* 새로고침 버튼 */
  cursor: pointer;
  width: 19px;
  height: 22px;
  padding-bottom: 3px;
}
.cinema_title .searchtxt{ /* 검색창 */
  text-align: center;
  color: black;
}
.cinema_title .closebtn { /* 검색 버튼 */
  cursor: pointer;
  width: 22px;
  height: 25px;
  padding-bottom: 3px;
}
/* 극장선택 타이틀 - placeholder 속성 */
.cinema_title ::-webkit-input-placeholder {  /* 크롬 */
  font-size: 15px;
}
.cinema_title :-moz-placeholder {    /* 파이어폭스 */
  font-size: 15px;
}
.cinema_title ::-moz-placeholder {
  font-size: 15px;
}
.cinema_title :-ms-input-placeholder {   /* 익스 */
  font-size: 15px;
}
/* 극장선택 타이틀 부분 th 끝 */

/*********** 1) 영화선택 ***********/
#ticketArea .1st_area {
  vertical-align: text-top;
  width: 25%;
}

#movie_area .movie_list { /*ul*/
  list-style: none;
  height: 420px;
  padding: 2px 0 2px 0;
  margin: 0;
  color: black;
  vertical-align: top;
  white-space: nowrap;
  text-align: left;
  overflow: auto;
}

#movie_area .movie_list .SelMovieList {  /* li */
  padding: 2px 0px 2px 10px;
  font-size: 11pt;
  cursor: pointer;
}
#movie_area .movie_list .SelMovieList:hover {
  font-weight: bold;
  background-color: #ecedf4;
}
#movie_area .movie_list .on {
  font-weight: bold;
  background-color: #999eca;
}

/*********** 2) 극장선택 ***********/
#cinema_area {
  position: relative;
  margin: 0px;
  vertical-align: top;
}

#cinema_area .cinema_select ul {     /* 극장 종류 div */
  background: linear-gradient(to top, #e4e4e8 0%, #f3f3f4 100%);
  position: relative;
  list-style: none;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
  -webkit-padding-start: 0px;
}
#cinema_area .cinema_select ul li {
  display: inline;      /* 리스트를 가로로 */
  font-size: 11pt;
  font-weight: bold;
  letter-spacing: 1px;  /* 글자간격 */
  text-align: center;
  float: center;
  border-left: 1px solid #bcbcbc;
  padding-left: 1pt;
  padding-right: 1pt;
  cursor: pointer;
}
#cinema_area .cinema_select ul li:first-child {
  border-left: none;
}
#cinema_area .cinema_select ul li a {
  text-decoration: none;
  color: gray;
}
#cinema_area .cinema_select ul li a:hover {
  color: #000;
}
#cinema_area .cinema_select ul li .on {
  background-color: white;
  border: 1px solid #bcbcbc;
  border-radius: 10%;
  color: #000;
}
#cinema_area .cinema_select ul li span {
  margin-left: 5px;
}

#cinema_area .nocinema {  /* 영화또는날짜 선택안됐을경우 block */
  display: none;
  color: black;
  margin-top: 100px;
}
#cinema_area .cinema_addr1,
#cinema_area .main_list {  /* 영화또는날짜 선택안됐을경우 none */
  display: block;
}
#cinema_area .cinema_chain {  /* 체인별 극장일 경우 cinema_addr1 대신 들어갈 div */
  display: none;
}

#cinema_area .cinema_addr1 {   /* 극장 주소1 div */
  text-align: left;
  border-bottom: 1px dashed gray;
  font-size: 11pt;
  padding-top: 2px;
  padding-bottom: 2px;
}
#cinema_area .cinema_addr1 .addr1selected {
  margin-left: 5px;
  padding-left: 15px;
}
#cinema_area .cinema_addr1 .addr1selected:hover {
  text-decoration: underline;
}
#cinema_area .cinema_addr1 .addr1selectedbtn {
  margin-top: -3px;
}
#cinema_area .cinema_addr1 .click .addr1selectedbtn {
  content: url("../ticket/img/listbtn_click.gif");
}

#cinema_area .cinema_addr1 .addr1list {  /* 극장 주소1 목록 div */
  z-index: 10;
  background-color: white;
  border: 1px solid;
  position: absolute;
  width: 130px;
  height: 198px;
  margin-top: 5px;
  margin-left: 15px;
  padding-top: 2px;
  display: none;
}
#cinema_area .cinema_addr1 .click {
  display: block;
}
#cinema_area .cinema_addr1 .addr1list ul {
  list-style: none;
  color: black;
  padding-left: 0px;
}
#cinema_area .cinema_addr1 .addr1list li {
  padding: 0.5px 0px 0.5px 10px;
  cursor: pointer;
}
#cinema_area .cinema_addr1 .addr1list li:first-child {
  padding-bottom: 1px;
}
#cinema_area .cinema_addr1 .addr1list li:nth-child(2) {
  padding-top: 1.5px;
}
#cinema_area .cinema_addr1 .addr1list li:hover {
  text-decoration: underline;
  background-color: #ecedf4;
}

#cinema_area .cinema_chain {  /* 체인별 극장 버튼 div */
  width: 100%;
  height: 32px;
  text-align: left;
  border-bottom: 1px solid gray;
  padding : 0px 0px 0px 15px;
}
#cinema_area .cinema_chain ul {
  display: flex;   /* 각 li 주위 모든 여백 없애줌 */
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#cinema_area .cinema_chain li {
  display: inline;      /* 리스트를 가로로 */
  margin: 1px 2px 1px 2px;
  padding: 2px 1px 0px 1px;
  height: 28px;
}
#cinema_area .cinema_chain li:hover {
  background: linear-gradient(to top, #fbfbfb 0%, #f5f3f4 70%);
  border: 1px solid #d1d0d6;
  padding-top: 0px;
}
#cinema_area .cinema_chain li.on {
  background: linear-gradient(to top, #f3f3f4 0%, #d7d7dd 100%);
  border: 1px solid #bcbcc7;
  padding-top: 0px;
}
#cinema_area .cinema_chain .cgvbtn a {
  display: inline-block;
  background: url("../ticket/img/logo_CGV.png") no-repeat;
  background-size: 100% 100%;
  width: 50px;
  height: 25px;
  cursor: pointer;
}
#cinema_area .cinema_chain .lottebtn a {
  display: inline-block;
  background: url("../ticket/img/logo_LOTTE.png") no-repeat;
  background-size: 100% 100%;
  width: 70px;
  height: 25px;
  cursor: pointer;
}
#cinema_area .cinema_chain .megabtn a {
  display: inline-block;
  background: url("../ticket/img/logo_MEGA.png") no-repeat;
  background-size: 100% 100%;
  width: 63px;
  height: 25px;
  cursor: pointer;
}
#cinema_area .cinema_chain .indebtn a {
  display: inline-block;
  background: url("../ticket/img/logo_INDE.png") no-repeat;
  background-size: 100% 100%;
  width: 35px;
  height: 25px;
  cursor: pointer;
}

#cinema_area .main_list {  /* 극장 리스트 div */
  text-align: left;
  width: 100%;
  height: 372px;   /* 체인별극장 선택되면 372-32=340px */
  overflow: auto;
}
#cinema_area .main_list ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 11pt;
  color: black;
}
#cinema_area .main_list li {
  padding: 2px 0px 2px 15px;
  cursor: pointer;
}
#cinema_area .main_list li:hover {
  font-weight: bold;
  background-color: #ecedf4;
}
#cinema_area .main_list .on {
  font-weight: bold;
  background-color: #999eca;
}

/*********** 3) 날짜선택 ***********/
#cal_area{
   margin:auto;
   width:80%;
   height:200px;
}
#cal_area #YM {
  height: 30px;
}
#cal_area #YM #prev {
  color: black;
  float: left;
  vertical-align: bottom;
  width: 10px;
  height: 10px;
  line-height: 15px;
  margin: 7px 0 0 0;
  cursor: pointer;
}
#cal_area #YM span {
  font-size: 15pt;
  line-height: 15px;
  vertical-align: bottom;
}
#cal_area #YM #next {
  color: black;
  float: right;
  vertical-align: bottom;
  width: 10px;
  height: 10px;
  line-height: 15px;
  margin: 7px 7px 0 0;
  cursor: pointer;
}
.calendar {
  width: 100%;
  overflow: visible;
  text-align: center;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
.calendar .week {
  background: #f1f0f0;
  color: #515151;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 1px solid #d6d6d6;
  height: 35px;
}
.calendar td {
  border: 2px solid #f1f0f0;
}
.calendar .day,
.calendar .today,
.calendar .saturday,
.calendar .sunday,
.calendar .blank {
  background: white;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #c0c0c0;
  pointer-events: none;
}
.calendar .day.ready {
  color: #515151;
}
.calendar .today {
  border: 2px solid #767eb3;
}
.calendar .saturday.ready {
  color: #0080ff;
}
.calendar .sunday.ready {
  color: #ff0000;
}
.calendar .day.ready,
.calendar .today.ready,
.calendar .saturday.ready,
.calendar .sunday.ready {
  background-color: #ebedf9;
  border: 2px solid #c1c8ee;
  pointer-events: auto;
}
.calendar .day:hover,
.calendar .today:hover,
.calendar .saturday:hover,
.calendar .sunday:hover {
  background-color: #d1d5e9;
  text-decoration: underline;
}
.calendar .day.on,
.calendar .today.on,
.calendar .saturday.on,
.calendar .sunday.on {
  background-color: #868ec6;
  border: 2px solid #6568b6;
}

#date_area .calenderinfo {
  margin-top: 10px;
}

/*********** 4) 영화정보 **************/
.section_result {
  display: inline-block;
  position: relative;
}
/*예매 다시하기 버튼
.initReserve { 
  position: relative;
  transform: translateY(-50%);
  padding:0px;
}*/
.section_result #btn_reset {;
  margin:0 0 20px 0;
}

.thumb_poster .movie_poster { /*영화 포스터*/
  width: 85%;
  height: 80%;
  margin: auto;
}

.section_result h3 { /*영화 제목*/
  color: white;
  font-size: 18px;
  /* line-height: 21px; */
  margin: 20px 0 20px 0;
  letter-spacing: -1px;
  font-weight: bold;
}

.section_result dt {
  margin-left: 50px;
  float: left;
  line-height: 2;
}

.section_result dd {
  line-height: 2;
}

.section_result .btn_area a {
  display: block;
  background: url("../ticket/img/btn_reserve.PNG");
}
/*
#movieinfo_area #1st_result {
  margin: auto;
}
#movieinfo_area 
#1st_result>tbody>tr>th {
  border: none;
}*/
/*********** 5) 상영시간선택 ***********/
.time_area {
  position: relative;
  top: 0;
}

.cinemainfo, .screentime {
  padding: 0 0 20px 20px;
  text-align: left;
  color: #6670bc;
}

.cinemainfo .cinema_logo {
  width: 15%;
  height: 15%;
  position: relative;
  top: 15px;
  margin: auto;
  /*상영시간표 끝나면 지우기*/
  cursor: pointer;
}

.cinemainfo .cinemainfo_name {
  vertical-align: bottom;
  color: black;
  font-weight: bold;
}

/*********** 6) 인원선택 ***********/
#price_lst_area {
  margin: 0 0 0 10px;
}

#price_lst_area .ticket_title th {
  color:#2d2d3f;
  margin-bottom: 3px;
  font-weight: bold;
  background: #fff;
  border: none;
  line-height: 20px;
  text-align: left;
}
#price_lst_area .ticket_title .per_price {
  float: right;
  padding-right: 10px;
  position: relative;
  font-size: 13px;
  color: #a8a4b9;
  font-weight: bold;
}
.ticket_data li {
  display: inline-block;
  width: 30px;
  height: 27px;
  color: #d0d0d8;
  float: left;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
  background: url('../ticket/img/selectBefore_people.PNG');
}
.ticket_data li.on {
  cursor: pointer;
  background: url('../ticket/img/selectAfter_people.PNG');
}
.ticket_data li.on:hover {
  cursor: auto;
}
#price_lst_area .ticket_data td{
  vertical-align: bottom;
  padding-left: 30px;
}